<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <button onclick="window.location='{{url_for('home')}}'">Home</button>
    <button onclick="window.location='{{url_for('projects')}}'">Projects</button>
    <button onclick="window.location='{{url_for('contact')}}'">Contact</button>
    <h1>This is the Contacts Page!</h1>

<h3> please reach me by email: stepheniedugan617@gmail.com</h3>
<h3> or</h3>
<h3> by phone(SMS): (417)241-4838</h3>


</body>
</html>