<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
    <button onclick="window.location='{{url_for('create_screne')}}'" formmethod="POST">Create Task</button>
    <button onclick="window.location='{{url_for('home')}}'">Home</button>
    <h2>Create a new task for your To-Do List:</h2>
<form action="{{url_for('add_task')}}" method="post">
    <p>What is the Title of your Task?</p>
    <input type="text" name="title"/><br/>
    <p>Notes:</p>
    <input type="text" name="note"/><br/>
    <input type="submit" value="Submit"><br/>
</form>

</body>
</html>