<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <button onclick="window.location='{{url_for('home')}}'">Home</button>
    <button onclick="window.location='{{url_for('projects')}}'">Projects</button>
    <button onclick="window.location='{{url_for('contact')}}'">Contact</button>
    <h1>This is the Home Page!</h1>

<h4>This is the home page, which will remain empty like this because i never know what to put here......</h4>
</body>
</html>